
<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="https://images.pexels.com/photos/32997/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body >
<center>
<form method="post" action="{% url 'login' %}" class="form1">
    <h2>Login</h2>
    {% csrf_token %}
    {{form.username}}<br>
    {{form.password}}
    <a href="">Forgot password</a><br>
    <input class="login"  type="submit" value="Login">
     <p class='sp'>have not account yet?<a href="signin/">Signup</a></p>
</form>
</center>
</body>
</html>