
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>TODO APP</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/e08ada629c.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
        <a href="{% url 'home' %}">LOGOUT</a>
    {% else %}
    {% endif %}

    <h1>MY TODO LIST</h1>
    <center><a href="{% url 'task-create' %}">Add Task</a></center>
    <table>
        <tr>
            <th>ITEMS</th>
        </tr>
        {% for tasks in task %}
        <tr>
            <td>{{tasks.title}}</td>
            <td>{{tasks.completed}}</td>
            <td>{{tasks.created}}</td>
            <td><a href="{% url 'task-view' tasks.id%}"><i class="fa-solid fa-eye"></i></a></td>
            <td><a href="{% url 'task-update' tasks.id%}"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="{% url 'task-delete' tasks.id%}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>